/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 May 2026, 8:23:21 pm
    Author     : Asus
*/

h1{
    padding: 10px;
}

.form-group{
    padding: 10px;
}

#btn{
    text-align: center;
}
